* {
  padding: 0;
  margin: 0;
  background-color:rgb(15,15,15);
  color: white;
  font-family: roboto;
}


header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgb(15,15,15);
  border-style: solid;
  border-bottom: 4px;
  border-color: rgb(15,15,15);
  border-width: 10px;
}


.hero {
  height: 150px;
  width: 100%;
  margin: 0px;
  background-image: url("../images/hero-banner-5.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  border-bottom: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(95, 94, 94);
  border-bottom-width: 1px;
  }


.opening-text {
  font-family: roboto, arial;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-name {
  font-family: Merienda;
  font-size: 40px;
  border-bottom: 4px;
  border-bottom-color: rgb(75, 72, 72);
  border-bottom-style:initial;
  padding-bottom: 0;
  color: rgb(171, 17, 17);
}

.right-side-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.me {
  width: 150px;
  height: 150px;
  border-radius: 100px;
 margin-left: 55px;
}

.about-section {
margin-left: 50px;
margin-bottom: 10px;
}

.about-me-section {
  display:flex;
  margin-bottom: 50px;
  margin-top: 10px;
}

.top-left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  text-align: center;
  border-right: 2px;
  border-right-style: double;
  border-right-color: rgb(95, 94, 94);
  padding-right: 96px;
  margin-top: 15px;
}
.top-right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-top: 10px;
}



/* Work Section */

 .section__right {
  width: 800px;
  padding-left: 2rem;
  border-left: 2px solid var(--white-100);
  position: relative;
  left: 300px;
  border-left: 2px double rgb(95, 94, 94);
  margin-bottom: 50px;

} 

.work__title.section__title {
text-align: start;
position: relative;
top: 200px;
left: 83px;
}

.work__items.section__right {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 240px);
}

.work__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  grid-column: span 1; 
  grid-row: span 1;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.work__content {
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  max-width: 320px;
  background-color: var("--black-100");
  color: var("--white-100");
}

.work__item-title {
  font-size: 2rem;
  padding-bottom: .5rem;
  background-color: rgb(161, 12, 12);
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work__link {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0%);
  transition: .5s ease;
  z-index: 2;
}

.work__link:hover {
  background: rgba(0, 0, 0, 50%);
}


.work__item.youtube {
  background-image: url(../images/project-2-thumbnail.png);
}

.work__item.horiseon {
  background-image: url(../images/project-3-thumbnail.png);
}

.work__item.prework {
  background-image: url(../images/project-1-thumbnail.png);
}

.work__item.empty {
  background-image: url(../images/hero-banner-4.gif);
}


.work__item-text {
  background-color: black;
  color: white;
  width: 200px;
  height: 100px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  position:relative;
}


/*contact section*/

footer {
  
  display: flex;
  flex-direction: row;
  justify-content: center;
align-content: flex-end;
}

img {
  width: 50px;
}

.contact-me-text {
position:relative;
right: 360px;
font-size: 24px;
padding-right: 83px;
border-right: 2px double grey;
}

.contact__content {
  display: flex;
  flex-direction: row;
}

/* Media Query Section 

****************************************************** */

/* styles for smaller/mobile-tablet screens */

@media (max-width: 769px) {

header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: column;
}

.opening-text {
  font-size: 33px;
}

.about-me-section{
  display:flex;
  flex-direction: column;
  border-bottom: 2px dashed grey;
}

.top-left-column {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  text-align:start; 
  padding-right: 0;
 border: none;
  
}

.me {
  width: 150px;
  height: 150px; 
  border-radius: 20px;
}

.about1 {
font-size: 30px;
writing-mode: vertical-rl;
}

.top-right-column {
  display: flex;
  flex-direction: column;
  text-align:start;
  margin-top: 5px;
  margin-left: 5px;
}


.work.section{ 
display: flex;
flex-direction: row;
}

.work__title.section__title {
  position: relative;
  left: 34px;
  font-size: 30px;
  writing-mode: vertical-rl;
  width: 20px;
  display:inline-block;
}


.work__items.section__right {
margin: 0px;
padding: 0px; 
display: grid;
  align-items: center;
  justify-content:left;
  grid-template-columns:none;
  grid-template-rows:auto 
}

.section__right {
  width: 10%;
  padding-left: 0px;
  border: none;
  position: relative;
  left: 50px;
  border-left: 2px double rgb(95, 94, 94);
  margin-bottom: 0px;
}

.contact-me-text {
  position: relative;
    right: 74px;
    font-size: 30px;
    writing-mode: vertical-rl;
    padding-right: 10px;
    border-right: 2px double grey;
    margin-right:
}

footer {
border-top: none;
margin-top: 40px;
}

}