* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:rgb(15,15,15);
  color: white;
  font-family: roboto;
}


header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgb(15,15,15);
  border-style: solid;
  border-bottom: 4px;
  border-color: rgb(15,15,15);
  border-width: 10px;
}


.hero {
  height: 150px;
  width: 100%;
  margin: 0px;
  background-image: url("../images/hero-banner-5.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  border-bottom: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(95, 94, 94);
  border-bottom-width: 1px;
  }


.opening-text {
  font-family: roboto, arial;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-name {
  font-family: Merienda;
  font-size: 40px;
  border-bottom: 4px;
  border-bottom-color: rgb(75, 72, 72);
  border-bottom-style:initial;
  padding-bottom: 0;
}

.right-side-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.me {
  width: 150px;
  height: 150px;
  border-radius: 100px;
 margin-left: 55px;
}


.about-me-section {
  display:flex;
  margin-bottom: 30px;
  margin-top: 10px;
}

.top-left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  text-align: center;
  border-right: 2px;
  border-right-style: double;
  border-right-color: rgb(95, 94, 94);
  padding-right: 150px;
  margin-top: 15px;
}
.top-right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-top: 10px;
}


 /*.work-1 {
  flex: 1;
  background-color: blue;
}
.work-2 {
  flex: 1;
  background-color: pink;
}

.work-3 {
  flex: 1;
    background-color: rgb(132, 38, 54);
}

.work-4 {
  flex: 1;
  background-color: orange;
} */


main {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}

/* .middle-right-column {
  display: flex;
  flex-direction: column;
  /*justify-items: flex-end;*/
  /*margin-left: 400px;
}
.middle-right-row {
  display: flex;
}

.thumbnail-1, .thumbnail-2, .thumbnail-3, .thumbnail-4, .thumbnail-5 {
  width: 250px;
  height: 250px;
}

.thumbnail-1, .thumbnail-2 {
  margin-right: 20px;
  margin-bottom: 20px;
}
.thumbnail-3, .thumbnail-4 {
  margin-right: 20px;
} */

/* .my-work-section {
display: flex;
flex-direction: row;
justify-content:end;
border: 5px;
border-style: solid;
border-color: black;
border: 5px;
border-style: solid;
border-color: white;
display: flex;
  align-items:flex-start;
  justify-content: center;
  flex-direction: column;
} */


/*.middle-left-column {
  display: flex;
  flex-direction: row;
  /*margin-left: 100px;
}*/

/*.middle-right-bottom-column {
  display: flex;
} */

.work__items {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 240px);
}

.work__item {
  position: relative;
  display: flex;
  align-items: flex-end;
  grid-column: span 1; 
  grid-row: span 1;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.work__content {
  padding: 1rem 1rem 1rem 2rem;
  width: 100%;
  max-width: 320px;
  background-color: var("--black-100");
  color: var("--white-100");
}

.work__item-title {
  font-size: 2rem;
  padding-bottom: .5rem;
  background-color: rgb(161, 12, 12);
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.work__link {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0%);
  transition: .5s ease;
  z-index: 2;
}

.work__link:hover {
  background: rgba(0, 0, 0, 50%);
}


.work__item.youtube {
 background-image: url("images/project-2-thumbnail.png");
}

.work__item.horiseon {
  background-image: url("images/project-3-thumbnail.png");
}

.work__item.prework {
  background-image: url("images/project-1-thumbnail.png");
}

.work__item.empty {
  background-image: url("images/hero-banner-4");
}


.work__item-text {
  background-color: black;
  color: white;
  width: 200px;
  height: 100px;
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  position:relative;
}








