* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:rgb(15,15,15);
  color: white;
  font-family: roboto;
}


.header {
  font-family: Roboto, Arial;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffff;
  background-color: rgb(15,15,15);
  border-style: solid;
  border-bottom: 4px;
  border-color: rgb(15,15,15);
  border-width: 10px;
}


.hero {
  height: 150px;
  width: 100%;
  margin: 0px;
  background-image: url("../images/hero-banner-5.gif");
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
  color: white;
  border-bottom: 1px;
  border-bottom-style:solid;
  border-bottom-color: rgb(95, 94, 94);
  border-bottom-width: 1px;
  }


.opening-text {
  font-family: roboto, arial;
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-name {
  font-family: Merienda;
  font-size: 40px;
  border-bottom: 4px;
  border-bottom-color: rgb(75, 72, 72);
  border-bottom-style:initial;
  padding-bottom: 0;
}

.right-side-header {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.me {
  width: 150px;
  height: 150px;
  border-radius: 100px;
 margin-left: 55px;
}


.about-me-section {
  display:flex;
  margin-bottom: 30px;
  margin-top: 10px;
}

.top-left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1;
  text-align: center;
  border-right: 2px;
  border-right-style: double;
  border-right-color: rgb(95, 94, 94);
  padding-right: 150px;
  margin-top: 15px;
}
.top-right-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-top: 10px;
}

#about-first-line {
  display: flex;
 
 }

 .work-1 {
  flex: 1;
  background-color: blue;
}
.work-2 {
  flex: 1;
  background-color: pink;
}

.work-3 {
  flex: 1;
    background-color: rgb(132, 38, 54);
}

.work-4 {
  flex: 1;
  background-color: orange;
}

.work-5 {
  flex: 1;
    background-color: blue;
}

.middle-right-column {
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  margin-left: 400px;
}
.middle-right-row {
  display: flex;
  flex-direction: row;
}

.thumbnail {
  width: 200px;
  height: 154px;
}

.my-work-section {
display: flex;
flex-direction: row;
border: 5px;
border-style: solid;
border-color: black;
}

.middle-left-column {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.middle-right-bottom-column {
  display: flex; flex-direction: row;
}



/*This is what I did before that ruined the whole format, i'm noting this now so that I don't
repeat mymistakes:

.about-me-section {
display: flex;
}

.top-left-column {
display: flex;
flex-direction: column;
justify-content: flex-start;

}


.top-right-column {
  padding-right: 10px;
  font-size: 20px;
 display: flex;
  justify-content: end;*/





